@import "../core/variables";
@import "../core/ui";

.Intro {
  padding: 0 0 60px;

  &__button {
    @extend %button;
    background-color: $red;
    border-color: $red;
    color: $white;
    min-width: 100px;

    &:hover {
      background-color: lighten($red, 10%);
    }
  }
}
