// Font sizes
$font-xs    : 10px;
$font-s     : 12px;
$font-m     : 14px;
$font-l     : 16px;
$font-xl    : 18px;
$font-xxl   : 22px;
$font-xxxl  : 46px;

$opensans   : 'Open Sans', sans-serif;
$montserrat : 'Montserrat', sans-serif;
$playfair   : 'Playfair Display', serif;

$black         : #1a1a1a;

$blue-light    : #1ea1e2;
$blue          : #e0ebf3;
$blue-dark     : #a0afba;
$blue-darker   : #778c9c;
$blue-contrast : #51626F;

$red           : #dc1c24;
$red-light     : #EB7C6F;
$white         : #fff;

$grey-light         : #f3f3f3;
$grey-dark          : #bfc6cc;
$grey-selvbetjening : #a6a6a6;

$disabled-background-color: #D8D8D8;
$disabled-color:#A6A6A6;
